@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');/*Sub*/
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap'); /*General*/

/* GLOBALES */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: aliceblue;
}

/* VANE */
.principal-content img {
    width: 100%;
    height: 30rem;
}

.title span{
    color: teal;
    font-size: 6rem;
    position: absolute;
    top: 20rem;
    padding: 0 20px 0 20px;
    font-family: 'Oswald', sans-serif;
    background-color: aliceblue;
}

.title{
    opacity: 0.9;
}

nav{
    text-align: center;
    margin-top: 3%;
}

nav a{
    text-decoration: none;
    color: teal;
    font-size: 25px;
    padding: 0 20px 0 20px;
    font-family: 'Oswald', sans-serif;
}

   /* TITLE */

.ppal-title{
    color: white;
    background-color: thistle;
    font-size: 40px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/* PEDRO */
.contenedor {
    max-width: 1220px;
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

img {
    max-width: 100%;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    background-color: rgba(194, 193, 193, 0.123);
    margin-bottom: 2rem;
    margin-top: 5%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.texto p,
h2 {
    margin-top: 2rem;
    font-size: 20px;
    text-align: justify;
}

.texto p {
    color: black;
    padding: 1rem;
}

.date p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.texto h2 {
    color: Thistle;
    font-size: 2rem;
    text-align: center;
}

.cnt h3 {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
    font-family: 'Oswald', sans-serif;
}

 /* FABY */
 
.inmuebles div.titulo-inmueble h3 {
    margin-top: 2%;
    margin-left: 13%;
    font-size: 30px;
    font-weight: 600;
    color: #687173;
    font-family: 'Oswald', sans-serif;
}

.inmuebles div.titulo-inmueble div.rayita {
    width: 80%;
    margin-top: -2%;
    margin-left: 10%;
    background-color: #d8bfd8;
    padding-bottom: 0.5%;
}

.inmuebles div.inmueble-destacado {
    display: flex;
    width: 85%;
    float: left;
    box-sizing: border-box;
    margin-left: 5.5%;
    margin-right: 5.5%;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card {
    width: 33.33%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 5%;
}


.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-1 {
    width: 100%;
    height: 85%;
    border: #687173;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-2 {
    width: 100%;
    height: 85%;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-3 {
    width: 100%;
    height: 85%;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-4 {
    width: 100%;
    height: 85%;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-5 {
    width: 100%;
    height: 85%;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-6 {
    width: 100%;
    height: 85%;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-1 img {
    width: 95%;
    height: 161px;
    margin-left: 2.5%;
    object-fit: cover;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-2 img {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    object-fit: fill;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-3 img {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    object-fit: cover;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-4 img {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    object-fit: cover;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-5 img {
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    object-fit: cover;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-img-6 img {
    width: 95%;
    height: 161px;
    margin-left: 2.5%;
    object-fit: cover;
}

.inmuebles div.inmueble-destacado div.inmueble-destacado-card div.inmueble-destacado-card-txt {
    margin-left: 6%;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
} 

.clear{
    clear: both;
}

 /* KAREN */
 .terrenosG{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.terrenos{
    width: 80%;
}

.terrenos div.titulo-inmueble h3 {
  margin-top: 2%;
  margin-left: 3%;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #687173;
  
}
.terrenos div.titulo-inmueble div.rayita {
  width: 100%;
  margin-top: -2%;
  background-color: Thistle;
  padding-bottom: 0.5%;
}
.terrenos div.inmueble-destacado {
  display: flex;
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.terrenos div.inmueble-destacado div.inmueble-destacado-card {
  width: 33.33%;
  box-sizing: border-box;
  margin-top: 5%;
  margin-left: 6.6%;
  background-color: aliceblue;
}

.terrenos div.inmueble-destacado div.inmueble-destacado-card1 {
    width: 33.33%;
    box-sizing: border-box;
    margin-top: 5%;
    background-color: aliceblue;
  }

.terrenos div.inmueble-destacado div.inmueble-destacado-card 
div.inmueble-destacado-card-img {
  width: 100%;
}
.terrenos div.inmueble-destacado div.inmueble-destacado-card 
div.inmueble-destacado-card-img img {
  width: 100%;
  height: 28vh;

}
.terrenos div.inmueble-destacado div.inmueble-destacado-card
  div.inmueble-destacado-card-txt {
  font-size: 20px;
  text-align: center;
  margin-top: 6%;
}

span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align: center;
}

.terrenos div.inmueble-destacado div.inmueble-destacado-card1 
div.inmueble-destacado-card-img {
  width: 100%;
}
.terrenos div.inmueble-destacado div.inmueble-destacado-card1
div.inmueble-destacado-card-img img {
  width: 100%;
  height: 28vh;

}
.terrenos div.inmueble-destacado div.inmueble-destacado-card1
  div.inmueble-destacado-card-txt {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  margin-top: 6%;
}
/* Footer */
footer {
    background-color: black;
}

footer a {
    text-decoration: none;
    margin: 0;
}

footer a img {
    width: 10%;
    justify-content: center;
    padding: 2rem;
    margin: 0;
    padding-bottom: 7rem;
}

.cnt {
    text-align: center;
}

/* Responsivo */

@media only screen and (max-width: 600px) {

    .terrenosG{
        margin-top: 15%;
        display: flex;
        justify-content: center;
    }

    .terrenos div.titulo-inmueble h3 {
        margin-bottom: 4%;
    }

    .terrenos div.titulo-inmueble div.rayita {
        margin-top: 0%;
        padding-bottom: 1%;
    }

    .terrenos div.inmueble-destacado {
        margin-top: 12%;
    }

    .terrenos div.inmueble-destacado {
        display: flex;
        flex-direction: column;
        float: none;
    }

    .terrenos div.inmueble-destacado div.inmueble-destacado-card {
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
    }

    .terrenos div.inmueble-destacado div.inmueble-destacado-card
        div.inmueble-destacado-card-txt {
        margin-top: 3%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 10%;
    }

    .terrenos div.inmueble-destacado div.inmueble-destacado-card1 {
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
            
    }

    .terrenos div.inmueble-destacado div.inmueble-destacado-card1
        div.inmueble-destacado-card-txt {
        margin-top: 3%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 10%;
    }

    .terrenos div.inmueble-destacado {
       margin-bottom: -12%;
      }

}

